* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 1140px;
	max-width: 90%;
	margin: 0 auto;
}

.nav {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu .menu-item {
	margin: 0 15px;
	text-decoration: none;
	color: #383838;
}

#meal-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	min-height: 40vh;
}

.input-group {
	margin: 5% 0;
	text-align: center;
}

input[type='text'],
input[type='submit'] {
	font-size: 17px;
	padding: 10px;
	border: 0;
	border-radius: 5px;
}

input[type='text'] {
	background: #f8f7f5;
	width: 40%;
}

input[type='submit'] {
	background: #f06c4e;
	color: #fff;
}

#meal-container .meal-card {
	background: #f8f7f5;
	color: #252525;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	overflow: hidden;
}

#meal-container .meal-card button {
	border: none;
	cursor: pointer;
}

#meal-container .meal-card img {
	width: 100%;
}

#meal-container .meal-card h3 {
	text-align: center;
	padding: 15px 0;
}

.ingredient-list li {
	list-style: none;
	margin: 5px 0;
}

.ingredient-icon {
	color: #f06c4e;
}

#meal-details {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.meal-detail-card h2,
.meal-detail-card h3 {
	margin: 10px 0;
}

.meal-detail-card img {
	width: 500px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
}

.footer {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #4d0d4f;
	color: #fff;
	padding: 10px;
}

.footer-menu a {
	text-decoration: none;
	color: #fff;
	margin: 0 15px;
}

.footer-menu a:hover {
	color: lightgrey;
}
