* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--darkGray: #441c1c;
	--lightGray: #f8f7f5;
	--lightRed: #f06c4e;
}

body {
	background: cyan;
	font-family: 'Lato', sans-serif;
}

.btn {
	font-family: inherit;
	font-size: 1.05rem;
	cursor: pointer;
	outline: 0;
}

.container {
	min-height: 100vh;
	width: 1140px;
	max-width: 90%;
	margin: 0 auto;
}

.nav {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu .menu-item {
	margin: 0 15px;
	text-decoration: none;
	color: var(--darkGray);
}

.search-form {
	margin: 3rem 0;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.search-control,
.search-btn {
	font-size: 1rem;
	padding: 1rem;
	outline: 0;
	border: 0;
}

.search-control {
	width: 50%;
	background: var(--lightGray);
}

.search-control::placeholder,
.search-icon {
	color: #989898;
}

.search-btn {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: var(--lightRed);
	color: #fff;
}

.search-icon {
	font-weight: normal;
	font-size: 1.5rem;
	padding: 1rem 0 1rem 1rem;
	background: var(--lightGray);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.meal-wrapper {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.meal-card-btn {
	border: none;
	cursor: pointer;
}

.meal-card {
	background: var(--lightGray);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.meal-card .meal-card-img {
	width: 100%;
}

.meal-card .meal-card-title {
	font-weight: 600;
	margin: 0.8rem 0;
}

.hungry-monster-modal {
	padding-bottom: 1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--lightGray);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	display: none;
	overflow-y: scroll;
	width: 50%;
	height: 500px;
}

.hungry-monster-modal::-webkit-scrollbar {
	width: 10px;
}

.hungry-monster-modal::-webkit-scrollbar-thumb {
	background: lightgrey;
	border-radius: 2rem;
}

.hungry-monster-modal-header {
	background: #f06c4e;
	text-align: right;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.hungry-monster-modal-header .modal-close-icon {
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
	color: #fff;
}

.hungry-monster-modal-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.modal-first-title,
.modal-second-title {
	margin: 1rem 0;
}

.modal-first-title,
.modal-second-title,
.modal-list-item {
	padding-left: 1rem;
}

.modal-list {
	list-style-type: none;
}

.modal-list-item {
	margin: 0.3rem 0;
}

.modal-ingredient-icon {
	color: #f06c4e;
	border-radius: 5px;
}

.footer {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #4d0d4f;
	color: #fff;
	padding: 10px;
}

.not-found {
	grid-template-columns: 1fr !important;
	font-size: 2rem;
	color: var(--lightRed);
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.message {
	margin: 2rem 0;
	font-size: 2rem;
	color: var(--darkGray);
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.footer-menu a {
	text-decoration: none;
	color: #fff;
	margin: 0 15px;
}

.footer-menu a:hover {
	color: lightgrey;
}

/* Responsive Area */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.meal-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.hungry-monster-modal {
		width: 90%;
		height: 500px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.meal-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.meal-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.meal-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}
